@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #ffffff;
  /* background-color: #242424; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --bgImg: linear-gradient(to right top,#ff2901,#d9004a,#9a1862,#562a5a,#262335);
}

.navbar-scroll {
  height: 60px;
}

.hero {
  background: url("./assets/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: bgImage 300s linear infinite;
}

.btn, .line{
  background-image: var(--bgImg); ;
}

@media screen and (min-width: 375px) {
  .btn {
    background: transparent;
    padding: 0;
  }
  .form-case {
    background-image: linear-gradient(to right top,#ff2901,#d9004a,#9a1862,#562a5a,#262335);
  }
}

@media screen and (min-width: 500px) {
  .cards{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 850px) {
  .cards{
    grid-template-columns: repeat(4, 1fr);
  }
}
@keyframes bgImage {
  0% {
    background-position: top;
  } 
  25% {
    background-position: 50%;
  }
  50% {
    background-position: bottom;
  }
  75% {
    background-position: 50%;
  }
  100% {
    background-position: top;
  }
}